@charset "UTF-8";

/* カスタムプロパティ(CSS変数) */
:root {
    /* --カスタムプロパティ名：値 */
    --portfolio-black: #000000;
    --portfolio-white: #ffffff;
    --portfolio-green: #2FAC9E;
    --portfolio-light-green: #37D1EF;
    --portfolio-gray: #EEEEEE;

    --fz-12: 12px;
    --fz-14: 14px;
    --fz-16: 16px;
    --fz-18: 18px;
    --fz-24: 24px;
    --fz-32: 32px;
    --fz-48: 48px;
    --fz-64: 64px;
}

body {
    /* カスタムプロパティの利用：「var(カスタムプロパティ名)→variable由来」 */
    background-color: pink;
}

/* li-3だけ、文字の色を赤に変更してください */
/* 何番目系疑似クラス */
/* 
1.child系
:first-child
:last-child
:nth-child(n)→何番目かを指定
    ・偶数番目：even or 2n
    ・奇数番目：odd or 2n+1

2.of-type系
:first-of-type
:last-of-type
:nth-of-type(n)

*/

/* li:nth-child(2n) {
    color: red;
} */

/* of-typeを使い「para1」だけ文字の色をgreenにして */
.sec01>p:first-of-type {
    color: var(--portfolio-green);
}

/* childを使い「para1」に下線を引け */
.sec01>p:nth-child(2) {
    text-decoration: underline solid #000000 2px;
}

/* li-2とli-5を太文字にしろ */
.sec01>ul li:nth-child(2) {
    font-weight: bold;
}

/* li-5だけ文字サイズを24pxにしろ */
.sec01 ul:nth-of-type(2) li:nth-of-type(2) {
    font-size: 24px;
}

/* フォームのスタイルをリセット */
input[type=text],
input[type=submit],
textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
}

/* お名前とメールアドレスとメッセージの入力欄に太さ1px、実線、黒色のボーダーを引く */
/* input[type="text"],
input[type="email"],
textarea {
    border: 1px solid var(--portfolio-black);
    background-color: var(--portfolio-white);
} */
input:is([type="text"], [type="email"]),
textarea {
    border: 1px solid var(--portfolio-black);
    background-color: var(--portfolio-white);
}

/* フォーカスされている入力欄を強調する */
input:focus,
textarea:focus {
    outline: 3px solid var(--portfolio-green);
}

/* 必須項目のスタイルを変更する */
input:required {
    background-color: pink;
}

/* 疑似要素「:has()」 */
label:has(input[required]) span::after {
    content: "必須";
    font-size: 0.8em;
    display: inline-block;
    background-color: var(--portfolio-green);
    color: var(--portfolio-white);
    border-radius: 3px;
    padding-inline: 6px;
    padding-block: 3px;
    margin-inline-start: 5px;
}

input[type=submit] {
    border-radius: 8px;
    background-color: var(--portfolio-green);
    color: var(--portfolio-white);
    padding-inline: 13px;
    padding-block: 8px;
}

input[type=submit]:disabled {
    background-color: var(--portfolio-gray);
    color: var(--portfolio-black);
    border: 1px solid var(--portfolio-black);
    opacity: 0.5;
}